*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./bg.jpg);
    object-fit: cover;
}

h1{
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
}

.container{
    min-width: 500px;
    background: rgba(90, 90, 90, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

input{
    background: rgba(82, 194, 235, 0.109);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    width: 80%;
    height: 30px;
    text-align: center;
}

input::placeholder{
    padding: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.614);

}

p{  
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: .7rem;
    color: rgba(255, 255, 255, 0.408);
    width: 80%;;
}

